@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-primario: #F9F9F9;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Montserrat';
    --botao-azul-efeito: #b33d3b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

.principal {
    align-items: center;
    text-align: center;
}


.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid;
    border-color: var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.container__titulo {
    font-size: 40px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
    width: 50%;
}

.container__caixa {
    margin: 0 5em;
}

.container__familia__imagem{
   width: 100vh; 
}

.secundario__imagem {
    width: 90%;
}

.secundario {
    align-items: center;
    margin: 0 5em;
    text-align: center;
    height: 70vh;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__paragrafo {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-weight: 700;
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 2em 2em;
}

.rodape__logo{
    width: 20%;
    margin-top: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link:hover {
    color: var(--botao-azul);
}

.lista__link:active {
    color: var(--botao-azul-efeito);
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.download{
    margin: 1em;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        height: 70vh;

    }

    .container__familia__imagem{
        display: none;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 80vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .dispositivos__titulo {
        margin: 2em 1em;
    }

    .rodape__lista {
        display: block;
    }

    .container__descricao{
        margin: 2em 2em;
    }

    .rodape__logo{
        width: 50%;
        margin-top: 1em;
    }

    .download{
        margin: 0.5em;
    }
}